{% extends 'base.html' %}
{% block title %}Категории{% endblock %}

{% block content %}
    <h1 style="text-align: center; text-transform: uppercase; font-family: Constantia;">Список категорий</h1>
    <hr>

    <ul class="list-group list-group-flush">

        {% for i in items %}
            <li class="list-group-item" style="font-size: 20px">
                <a href="{% url 'edit_category' i.pk %}" type="button"><i class="bi bi-pen-fill me-2"
                                                                          style="color: green; font-size: 22px"
                                                                          title="Изменить"></i></a>
                <a href="{% url 'delete_category' i.pk %}" type="button"><i class="bi bi-trash3-fill me-2"
                                                                            style="color: red; font-size: 22px"
                                                                            title="Удалить"></i></a>
                {{ i.category }}</li>


            </ul>


        {% endfor %}
{% endblock %}