{% extends 'base.html' %}
{% block title %}Изменить категорию{% endblock %}

{% block content %}
    <h1 style="text-align: center; text-transform: uppercase; font-family: Constantia;">Изменить категорию</h1>

    <form method="post" class="text-center">
        {% csrf_token %}
        <div>
            <label>Название категории:</label>
            <div style="height: 50px">
                {{ form.category }}
            </div>
        </div>
      <button type="submit" class="btn btn-outline-success">Изменить</button>

    </form>


{% endblock %}