{% extends 'base.html' %}

{% block title %}
    О нашем магазине
{% endblock %}

{% block content %}
    <h1 style="text-align: center; text-transform: uppercase; font-family: Constantia;">О нашем магазине</h1>
    <hr>
    <h3 style="text-align: center; text-transform: uppercase; font-family: Constantia;">История</h3>
    <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores dolore, eius eveniet
        itaque laborum
        libero mollitia nemo nihil odio praesentium provident quam quibusdam quidem ullam vel veritatis! Adipisci
        aliquid animi aut commodi corporis deleniti eum facilis, laborum, mollitia neque nesciunt quas quasi quis
        sapiente ut veniam veritatis voluptatibus. Incidunt laborum maiores pariatur tempora veniam? Adipisci aliquid
        consectetur consequuntur dignissimos dolore dolores ducimus eaque enim excepturi exercitationem explicabo facere
        fugiat ipsa, iusto libero maxime non nulla praesentium quis sint suscipit tempore ut. Amet fugit illum minima
        nemo nesciunt, totam veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, adipisci
        corporis dolor dolore dolorem exercitationem illum, impedit itaque nisi non obcaecati odio officiis omnis
        quibusdam repellat sequi similique voluptatem voluptates. Asperiores assumenda, consectetur deserunt dolor
        doloremque eum excepturi exercitationem fuga inventore laboriosam libero maxime modi natus neque obcaecati odio,
        officiis perferendis perspiciatis quibusdam recusandae repudiandae ullam unde? Accusamus, aspernatur autem
        debitis eligendi, fugit optio placeat provident quae qui quos rem, sunt. Consectetur cum cumque, delectus dolor
        eligendi hic impedit libero maiores modi neque, odio possimus repellat tenetur, ut vel voluptate. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Ex fugit natus nihil optio quae ullam unde voluptates. Aliquam cum
        debitis harum incidunt minima repellendus, tenetur totam vitae. A alias aspernatur beatae dicta, doloremque enim
        esse facere maxime odit officia optio perferendis porro ratione similique suscipit veritatis voluptate! Aperiam
        asperiores aut delectus dignissimos dolores dolorum error esse ex, excepturi hic impedit incidunt itaque
        laboriosam minima, obcaecati odio officiis optio quae quas qui quo ratione repellat soluta sunt suscipit tenetur
        ullam unde veritatis voluptas voluptate! Debitis enim laborum minus nam natus obcaecati.</p>
    <hr>
    <h3 style="text-align: center; text-transform: uppercase; font-family: Constantia;">Партнеры</h3>
    <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci culpa deserunt, in minus odit
        quidem sapiente voluptate? Ad asperiores atque, commodi distinctio dolore, ea fugit illum iusto modi mollitia
        nihil nostrum obcaecati odio placeat repudiandae! Architecto blanditiis cum dicta dolorem fugiat iste
        praesentium sed sunt unde voluptate? Animi, commodi consequuntur corporis dolore dolorem exercitationem harum,
        illo illum ipsum magnam modi nobis optio, possimus qui reiciendis unde voluptatum? Asperiores autem beatae
        commodi culpa dolorem, doloribus eum facere fugiat id illo, iusto, laudantium libero maiores natus
        necessitatibus numquam rerum sit soluta tempore voluptate. Animi dolores in incidunt laboriosam quos? Aliquam,
        esse fuga magni nihil nisi nobis non nulla repellendus soluta ut! Accusantium blanditiis consequuntur cum ex
        fuga molestias saepe, ullam! Earum et ipsum mollitia quam recusandae, tempore tenetur vitae? Aliquam assumenda,
        delectus deserunt, eligendi harum impedit iste laudantium nobis, quos sed totam vel. Beatae, corporis deleniti
        dolore hic, iste labore magni minima nihil, omnis optio possimus quas sit velit vero voluptatibus? Aliquid
        assumenda beatae dolor dolorum est fuga fugiat impedit laudantium magni maiores minima nesciunt nobis optio
        sint, soluta tempora tempore, tenetur vitae. Aliquid dicta dolor eligendi enim, est ipsam, iste magnam,
        necessitatibus nisi nobis nulla numquam quasi quia quod reiciendis sint!</p>

{% endblock %}